if status is-interactive
    atuin init fish --disable-up-arrow | source

    starship init fish | source

    zoxide init fish | source

    orb completion fish | source

    hostctl completion fish | source

    fzf --fish | source

    if test "$TERM_PROGRAM" = tmux
        and not test -n "$VIM"
        print_spark_line
        macchina
    end

end

# Lang 
set -x LANG en_US.UTF-8
set -x LC_ALL en_US.UTF-8

#Editor 
set -Ux EDITOR nvim

set -Ux REACT_EDITOR nvim


{{if hasKey . "proxy_host"}}
# proxy 
set proxy_host {{ .proxy_host }}
{{end}}

{{if hasKey . "openai_api_host"}}
# open ai 
set -x OPENAI_API_BASE {{ .openai_api_host }}
set -x OPENAI_API_HOST {{ .openai_api_host }}
set -x OPENAI_API_KEY {{ .openai_api_key }}
set -x OPENAI_API_MODEL {{ .openai_api_model }}
{{end}}


# config file
set -Ux XDG_CONFIG_HOME "$HOME/.config"

# ripgrep
set -x RIPGREP_CONFIG_PATH "$XDG_CONFIG_HOME/ripgrep/ripgreprc"


# starship
# ignore starship warnings
set -x STARSHIP_LOG error

# gcc
set -x CC clang

# volta 
set -x VOLTA_FEATURE_PNPM 1
