{
	"$schema": "https://opencode.ai/config.json",
	"plugin": ["oh-my-openagent@latest", "@mohak34/opencode-notifier@latest"],
	"model": "openai/gpt-5.5",
	"small_model": "openai/gpt-5.4-mini",
	"provider": {
		"openai": {
			"options": {
				"baseURL": "{{ .openai_api_host }}/v1",
				"apiKey": "{{ .openai_api_key }}"
			}
		}
	}
}
